<div class="page-title-area bg-bg-one py-6 md:py-11">
    <div class="container px-[15px] mx-auto">
        <h2
            class="relative font-nsa text-[32px] md:text-[50px] leading-[42px] md:leading-[65px] font-bold pl-[25px] text-white before:absolute before:bg-primary before:content before:w-2 before:h-full before:left-0 before:rounded">
            {{ title }}</h2>
    </div>
</div>
<div class="container px-[15px] mx-auto py-[40px] md:py-[80px]">
    <nav class="w-full mb-8">
        <ul class="list-reset flex flex-wrap text-color-one capitalize font-nsa font-medium text-[16px] lg:text-[20px]">
            <li><a href="/" class="text-blue-600 hover:text-blue-700">Home</a></li>
            <li><span class="text-gray-500 mx-2">/</span></li>
            <!-- <li><a href="#" class="text-blue-600 hover:text-blue-700">About the Ministry</a></li> -->
            <!-- <li><span class="text-gray-500 mx-2">/</span></li> -->
            <li class="text-primary">{{ title }}</li>
        </ul>
    </nav>
    <div x-data="{tab: 'tab-0'}">
        <div class="flex flex-wrap">
            <div class="w-full mb-[30px] md:m-0 md:w-1/3 lg:w-1/4">
                <h3 class="bg-bg-one text-[18px] xl:text-[24px] font-semibold capitalize text-white px-5 py-4">{{ tab_top_title }}</h3>
                <div class="bg-bg-two py-2">

                    {{ about_items }}
                    <a href="#" @click.prevent="tab = 'tab-{{index}}'"
                        class="block font-nsa font-medium capitalize px-5 py-2 text-white text-[16px] xl:text-[20px]"
                        :class="{'text-primary':tab==='tab-{{index}}'}">{{ about_item_title }}</a>
                    {{ /about_items }}

                </div>
            </div>
            
            <div class="w-full md:w-2/3 lg:w-3/4 md:pl-5">
                {{ about_items }}
                <div x-show="tab === 'tab-{{index}}'">
                    <div class="grid gap-8 grid-cols-1 lg:grid-cols-2 ">
                        <div class="content-wrap">
                            <h2 class="text-color-one text-[26px] lg:text-[32px] font-semibold font-nsa capitalize mb-4">
                                {{ about_item_title }}
                            </h2>
                                
                            {{ about_item_description }}
                        </div>
                        {{ if about_right_image }}
                            <div>
                                <img class="border-4 border-[#08173D] rounded-md w-full"
                                    src="{{ about_right_image }}" alt="tab image" />
                            </div>
                        {{ /if }}
                    </div>
                    {{ if view_more_link }}
                    <div class="text-center mt-11">
                        <a href="{{ view_more_link }}" class="primary-btn transition min-w-[200px] hover:bg-primary text-white">View more</a>
                    </div>
                    {{ /if }}
                </div>
                {{ /about_items }}
            </div>
        </div>
    </div>
</div>