<div class="page-title-area bg-bg-one py-6 md:py-11">
    <div class="container px-[15px] mx-auto">
        <h2 class="relative font-nsa text-[32px] md:text-[50px] leading-[42px] md:leading-[65px] font-bold pl-[25px] text-white before:absolute before:bg-primary before:content before:w-2 before:h-full before:left-0 before:rounded">{{ title }}</h2>
    </div>
</div>
<div class="container px-[15px] mx-auto py-[40px] md:py-[80px]">
    <nav class="w-full mb-2">
        <ul class="list-reset flex flex-wrap text-color-one capitalize font-nsa font-medium text-[16px] lg:text-[20px]">
          <li><a href="/" class="text-blue-600 hover:text-blue-700">Home</a></li>
          <li><span class="text-gray-500 mx-2">/</span></li>
          <li class="text-primary">{{ title }}</li>
        </ul>
    </nav>
    <h2 class="text-[32px] md:text-[42px] font-nsa font-bold capitalize text-color-one mb-8">{{ title }}</h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
        {{ collection from="departments" limit={limit_suppy} }}
            <div class="group bg-white rounded-[10px] transition hover:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.07)]">
                <div class="rounded-[10px] overflow-hidden">
                    <a href="{{ url }}" class="block relative z-10 before:absolute before:bg-[rgba(0,0,0,0.5)] before:content before:w-full before:h-full before:left-0 before:rounded before:top-0 before:z-20 before:opacity-0 before:transition group-hover:before:opacity-100">
                        <img class="w-full h-72 object-cover transition group-hover:scale-110" src="{{ thumbnail }}" alt="news-thumbnail">
                    </a>
                </div>
                <div class="py-5 px-3">
                    <a href="{{ url }}" class="text-color-one font-semibold font-nsa text-[20px] 2xl:text-[24px] capitalize flex justify-between items-center transition group-hover:text-primary"><span>{{ title }}</span> <i class="icon fas fa-arrow-right"></i></a>
                </div>
            </div>
        {{ /collection }}
    </div>
</div>